.section-body {
    border: 1px solid wheat;
    margin: 10px;
    background-color: #FEE715FF;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 25em;
    overflow-x: auto;
}
.main-section {
    display: flex;
     flex-wrap: wrap;
     flex-direction: row;
      width: 100%;
}
.section-head {
    border: 1px solid wheat;
    background-color: white;
    border-radius: 1em;
    padding: 10px 16px;
    margin: .9em;
    width: 15em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: .3s;
}
.section-head:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}
.section-link {
    padding: .6em .5em; 
    margin: .7em 1em;
    border: none;
    border-radius: 10px;
    width: 16em;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
    background-color: #101820FF;
    transition: .3s;
   }
.section-link:hover {
    cursor: pointer;
    opacity: .9;
}
.section-link a {
    text-decoration: none;
    color:  white;
    font-size: 1.5em;
    letter-spacing: 1px;
    font-weight: bold;
    margin: 0 .2em;
}
.author {
    text-decoration: none;
}
 
.read-more {
    display: block;
    text-decoration: none;
    float: right;
}
.date-style {
    font-size: .8em;
    font-style: italic;
}
.section-head img {
    display: block;
    border: 1px solid lightgrey;
    border-radius: 1em;
    padding: 5px;
    width: auto;
    height: 15vh;
    margin-bottom: 5px;
}
.section-head h2 {
    margin: 0;
    color: blue;
    
}
.section-content {
    height: auto;
    overflow: hidden;
}
.section-content p {
    margin: 0;
    padding: 5px 0;
}
/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #101820FF; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #101820FF; 
  }