 
.section-body {
    border: none;
    margin: 1em;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.6));
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
    height: auto;
    overflow-x: auto;
    padding: 1em 0;
}
.main-section {
      display: flex; 
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
}
.section-head {
    position: relative;
    border: none;
    background-color: #e5f2fa; 
    padding: 10px 16px;
    margin: .9em .6em;
    width: 15em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: .3s;
    opacity: 1;
}
.section-head,
.section-head::before,
.section-head::after {
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);
}
.section-head::before,
.section-head::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #eee;
}
.section-head::before {
    left: 7px;
    top: 5px;
    z-index: -1;
}
.section-head::after {
    left: 12px;
    top: 10px;
    z-index: -2;
}
.section-head:hover {
    cursor: pointer;
}
.section-link {
    padding: .6em .5em; 
    margin: .7em auto;
    text-align: center;
    border: none;
    /* border-radius: 10px; */
    width: 16em;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
    background:none;
    transition: .3s;
   }
.section-link:hover {
    cursor: pointer;
}
.section-link a {
    text-decoration: none;
    color:  white;
    font-size: 1.5em;
    letter-spacing: 1px;
    font-weight: bold;
    margin: 0 .2em;
}
.author {
    text-decoration: none;
}
 
.read-more {
    display: block;
    text-decoration: none;
    float: right;
    background-color: #101820FF;
    color: #eee;
    padding: .1em .4em;
    font-size: .9em;
    transition: .3s;
}
.read-more:hover {
    opacity: .9;
}
.date-style {
    font-size: .8em;
    font-style: italic;
}
.section-head img {
    display: block;
    border: 1px solid lightgrey;
    border-radius: 1em;
    padding: 5px;
    width: auto;
    height: 15vh;
    margin-bottom: 5px;
    margin: 0 auto;
}
.section-head h2 {
    margin: .3em 0;
    color: #101820FF;
}
.section-content {
    height: 4em;
    overflow: hidden;
}
.section-content p {
    margin: 0;
    padding: 5px 0;
}
/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: white; 
  }

 