.footer {
    position: relative;
    width: 100%;
    text-align: center;
    bottom: 0;
    margin: 2em 0;
}
.footer h2 {
    margin: 0;
    margin-bottom: .5em;
    color: #ddd;
}
.footer span {
    color: #ddd;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: .3px;
}