.top-nav {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    margin: 0;
    padding: 10px;
 }
.top-nav-h1 {
    text-align: center;
    flex: .4;
}
.top-nav-h1:hover {
    cursor: pointer;
}
.top-nav-link {
    position: relative;
    margin: auto;
    letter-spacing: 1px;
    text-align: center;
    flex: 2.5;
}
.top-nav-h1 h1 {
    margin: 0;
    color: #101820FF;
    border: none;
    background-color: #FFF;
    color: black;
    padding: 5px 8px;
 }
.top-nav-link a {
    text-decoration: none;
    color: white;
    margin: 0px 5px;
    transition: .3s;
}
.top-nav-link a:hover {
    color: #FEE715FF;
}
.top-nav-link .sign {
    float: left;
}
.top-nav-search {
    flex:1;
    position: relative;
    margin: auto;
    width: 100%;
}
.top-nav-search input {
    padding: 10px 15px;
    border-radius: 1em;
    border: none;
    width: 15em;
    float: right;
    margin-right: 1em;
    background: none;
    border: 2px solid #bbbbbb;
    opacity: .8;
    outline: none;
    color: #bbb;
    font-size: 1em;
}
.icon-nav-link {
    margin-left: .9em;
    flex: .3;
    border: none;
 }
.icon-nav-link a {
    color: #101820FF;
    text-decoration: none;
}
.icon-nav-link img {
    padding: .6em;
    border-radius: 50%;
    background-color: white;
    margin-left: 2em;
    transition: .3s;
}
.icon-nav-link img:hover {
    opacity: .9;
}